@media screen and (max-width: 1199px) {
  .section--promo-hidden {
    display: none;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--team-other-bgc {
    background-color: $bgc-secondary;
  }
}

.section__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;

  &--title-hidden {
    @extend %visually-hidden;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--promo-hidden {
      display: block;
    }

    &--promo-paddingtop-fix {
      padding-top: 0;
    }
  }

  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
